<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Tickle</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-container" aria-controls="navbar-collapse-container" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-collapse-container">
        <ul class="navbar-nav mr-auto ">
            <li class="nav-item"><a class="nav-link" href="/new">New</a></li>
            <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
        </ul>
    </div>
</nav>