<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'includes/header.html' %}
    <title>Tickle - Free stock price movement alerts.</title>
</head>

<body>
    {% include 'includes/navbar.html' %}

    <div class="container mt-5">
        <ul>
            <li><a href="https://github.com/rrickgauer/tickle" target="_blank">GitHub Repo</a></li>
            <li><a href="https://ryanrickgauer.com/" target="_blank">Author - Ryan Rickgauer</a></li>
            <li><a href="https://github.com/alvarobartt/investpy" target="_blank">Investpy - where we fetch ticker prices.</a></li>
        </ul>
    </div>

    {% include 'includes/footer.html' %}


</body>

</html>