<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'includes/header.html' %}
    {% block header %}{% endblock %}
    
    <title>
        {% block title %}Tickle{% endblock %}
    </title>
    
</head>
<body>

    <div class="container my-5">
        <div class="row form-section">
            <div class="col-lg-4">
                <h4 class="form-section-title">
                    {% block form_section_title %}{% endblock %}
                </h4>
        
                <p class="form-section-description text-muted text-sm">
                    {% block form_section_description %}{% endblock %}
                </p>
            </div>

            <div class="ml-auto col-lg-7">
                <div class="form-section-inputs">
                    {% block form_section_inputs %}{% endblock %}
                </div>
            </div>
        </div>
    </div>


    <div class="container d-flex justify-content-between">
        {% block form_section_buttons %}
            <a href="/new" class="btn btn-gray text-danger">Back</a>
            <a href="#" class="btn btn-gray text-success btn-next-page disabled">Next</a>
        {% endblock %}
    </div>


    {% include 'includes/footer.html' %}
    {% block footer %}{% endblock %}
    <script src="/static/js/dist/home.bundle.js"></script>
    

</body>
</html>