<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'includes/header.html' %}
    {% block header %}{% endblock %}
    
    <title>
        {% block title %}
            Tickle home page
        {% endblock %}
    </title>
    
</head>
<body>

    <div class="container">
        <h1 class="my-5">Home page</h1>
        
        <div class="progress" style="height: 7px;">
            <div class="progress-bar w-{% block progress_bar_width %}0{% endblock %}"></div>
        </div>
    </div>

    <div class="container my-5" id="section-form">
        {% block content %}{% endblock %}
    </div>

    <div class="container">
        {% include 'home/created.html' %}
    </div>

    {% include 'includes/footer.html' %}
    {% block footer %}{% endblock %}
    <script src="/static/js/dist/home.bundle.js"></script>
    

</body>
</html>