{% extends "home/base.html" %}

{% block content %}


<div class="form-group">
    <label for="form-watch-input-price">Price</label>
    <input type="number" class="form-control form-control-lg form-watch-input" id="form-watch-input-price" step="0.01" min="0" required>
</div>

<fieldset class="mb-3">
    <div class="form-check">
        <input class="form-check-input form-watch-input" type="radio" name="form-watch-input-watch-type" id="form-watch-input-watch-type-rise" value="1" checked>
        <label class="form-check-label" for="form-watch-input-watch-type-rise">Rise</label>
    </div>
    
    <div class="form-check">
        <input class="form-check-input form-watch-input" type="radio" name="form-watch-input-watch-type" id="form-watch-input-watch-type-drop" value="2">
        <label class="form-check-label" for="form-watch-input-watch-type-drop">Drop</label>
    </div>
</fieldset>

<a href="/home/1/ticker_name/85/1" class="btn btn-success btn-next-page disabled">Next</a>
<a href="/home/{{ data.url_values.ticker_type.value }}" class="btn btn-secondary">Back</a>


{% endblock %}