@import "./colors";

input[type=color],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
select:focus,
textarea {
    font-size: 16px;
}



.h1, 
.h2, 
.h3, 
.h4, 
.h5, 
.h6, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-weight: 700;
}


// ------------------------------------
// Gray button
// ------------------------------------
.btn.btn-gray {
    border: 1px solid map-get($colors-grays, "lighter");
    background-color: map-get($colors-grays, "lightest");
    // color: map-get($colors-grays, "darkest");
    font-weight: 500;
    transition: filter 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    box-shadow: rgba(27, 31, 36, 0.04) 0px 1px 0px 0px;

    &:hover,
    &:active,
    &:focus {
        filter: brightness(95%);
    }
}

#section-form-container {
    display: flex;
    height: 800px;
    // flex-
    flex-direction: column;
    justify-content: center;
}



.form-section {
    border-top: 1px solid map-get($map: $colors-grays, $key: "lighter");
    padding: 20px 0px;
    margin-top: 40px;
}


.form-label {
    color: #6c757d;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: .1em;
}

@media screen and (max-width: 768px) {
    .btn-stretch-sm {
        width: 100%;
    }
}



.container-home-page-steps {
    img {
        width: auto;
        height: 300px;
    }

    .row {
        align-items: center;
    }
}


.home-page-space { margin-bottom: 200px; }
.container-home-page-steps-pr {padding-right: 100px;}

.text-grey {
    color: #595959;
}


.home-page-h1 {
    font-size: 70px;
}

.home-page-h1-subtitle {
    font-size: 22px;
}


h2.home-page-header {
    font-size: 46px;
    margin-bottom: 100px;
}

h3.home-page-header {
    font-size: 32px;
}




.icon-text-combo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p {font-size: 20px;}
}

.home-icon {
    background-color: map-get($map: $colors-primary, $key: "light");
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;

    i {
        font-size: 22px;
        color: white;
    }
}

.icon-rounded {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    text-align: center;
    line-height: 4rem;
}



.home-page-padding {
    padding: 100px;
}











